PORT = 8000
MONGODB_URI=mongodb+srv://ipushparajjhukunganhi_db_user:Dhiraj123@dhiraj.mdweivm.mongodb.net/dhirajdb
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=dhiraj-kumar-25204031139
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=kumar-25204031139-dhiraj
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME=lif16aju
CLOUDINARY_API_KEY=911226746843198
CLOUDINARY_API_SECRET=c4sW7gYxYe6NzGJKd1pcP0rTgvc